:root {
    --main-color: #D62E33;
    --second-color: #777;
}

.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


section.home {
    min-height: 75vh;
    background-image: linear-gradient(to bottom, #312b7866, #312b787a),
        url('../images/party-2.jpg');
        /* background-image: url(../images/party-2.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


.home>.container-fluid {
    padding-inline: 0;
}

nav {
    width: 20rem;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    position: fixed;
    padding: 0;
    width: 0%;
    overflow: hidden;
}


nav i {
    cursor: pointer;
}

nav a {
    cursor: pointer;
    position: relative;
}
nav a::after {
    content: '';
    position: absolute;
    right: 0;
    width: 0%;
    bottom: 0;
    /* right: 0; */
    /* width: 100%; */
    background-color: #dd355b;
    height: 2px;
    /* z-index: 222; */
    transition: 1s;
}
nav a:hover::after{
    left: 0;
    width: 100%;
}


.home .homeplus {
    height: 75vh;
}

#openBtn {
    width: 10rem;
    /* background-color: red; */
    cursor: pointer;
    /* padding: 20px; */
}

@media (max-width:768px) {
    #openBtn {
        top:20% !important
    }
}

#openBtn i {
    vertical-align: sub;
}


.question-container {
    width: 70%;
    margin-inline: auto;
}

.question {
    cursor: pointer;
    background-color: #312b78e8;
}
.question p{

    color: #ffffff;
}

.answer {
    background-color: #ccc;
    display: none;
    height: 0%;
    /* transition: 1s; */
}


.discount {
    background-image: linear-gradient(to bottom, #312b7866, #312b7866), url(../images/party-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.box {
    background-color: transparent;
    border: 1px solid;
    color: #fff;
}

.join-us i {
    color: var(--second-color);
}


a[href^='mailto'] {
    color: var(--main-color);
    text-decoration: none;
}

.social {
    display: flex;
    justify-content: flex-start;
    /* width: 60%; */
}

.social a {
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    flex-wrap: wrap;
    color: var(--second-color);
}

.social i {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}






.social a:hover i {
    background-color: var(--main-color);
    color: #fff;
}


form textarea {
    min-height: 100px;
    max-height: 150px;
}

form p span {
    color: var(--main-color);
}

.sendBtn {
    background-color: #383185;
    color: #fff;
}

.sendBtn:hover {
    background-color: #211b5e;
    color: #fff;
}


footer div {
        background-color: #E9D5B3;
}
footer div a {
    color: #dd355b;
    position: relative;
}
footer div a:after {
    content: '';
    background-color: #dd355b;
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: -2px;
}
footer div a:hover::after {
    height: 2px;

}